#contactus{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 5rem 5rem;
}

#contactcard{
    display: flex;
    flex: 1;
    border: 1px solid rgb(212, 208, 208);
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: url(./../EditableStuff/contactus.jpg) no-repeat center center/cover;
    border-radius: 20px;
    margin: 2rem 2rem;
    padding: 5rem 5rem;
}

#contactcard form h1{
    display:inline-block; 
    flex: 1;
    color: rgb(0, 0, 0);
    font-size: 3rem;
    width: 100%;
    text-align: center;
}

#contactcard img{
    width: 58%;
    height: 50%;
    border-radius: 20px;
}

#contactcard form{
    border-radius: 20px;
    padding: 20px 20px;
    margin: 30px 30px;
    background-color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#contactcard input{
    width: 75%;
    height: 3rem;
    padding: 4px;
    margin: 5px 5px;
    cursor: pointer;
    box-sizing: border-box;
    border: 2px solid rgb(0, 0, 0);
    border-top: none;
    border-left: none;
    border-right: none;
}    

#contactcard input:focus{
    outline: none;
}

#contactcard textarea{
    flex:1;
    width: 75%;
    max-width: 90%; 
    max-height: 90%;
    height: 3rem;
    padding: 4px;
    margin: 5px 5px;
    cursor: pointer;
    box-sizing: border-box;
    border: 2px solid rgb(0, 0, 0);
    border-top: none;
    border-left: none;
    border-right: none;
} 

#contactcard textarea:focus{
    outline: none;
}

#contactcard [type="button" i]{
    width: 75%;
    color: rgb(255, 255, 255);
    padding: 4px;
    margin: 20px 0px;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    border:none;
    cursor: pointer;
} 

#contactcard [type="button" i]:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(134, 134, 139);
    transition: all .5s ease;
}

#contactcard aside{
    width: 500px;
    height: auto;
}

#contactcard:hover {
    transform: translate3D(0, -1px, 0) scale(1.03);
    transition: all .5s ease;
}